.header{
	width: 1350px;
	height: 690px;
	background-attachment: scroll;
	background-image: url('../images/4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	

}